In [15]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt

In [16]:
twentyeleven_data = pd.read_csv('twentyeleven.csv')
twentyeleven_data.shape

(484330, 11)

In [17]:
twentyeleven_data = twentyeleven_data.drop_duplicates()
twentyeleven_data.shape

(484330, 11)

In [18]:
twentyeleven_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'date', 'revenue', 'year'],
      dtype='object')

In [19]:
twentyeleven_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,revenue,year
0,539993.0,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04T10:00:00Z,1.95,13313.0,United Kingdom,2011-01-04,19.50,2011
1,539993.0,21499,BLUE POLKADOT WRAP,25,2011-01-04T10:00:00Z,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011
2,539993.0,21498,RED RETROSPOT WRAP,25,2011-01-04T10:00:00Z,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011
3,539993.0,22379,RECYCLING BAG RETROSPOT,5,2011-01-04T10:00:00Z,2.10,13313.0,United Kingdom,2011-01-04,10.50,2011
4,539993.0,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04T10:00:00Z,1.25,13313.0,United Kingdom,2011-01-04,12.50,2011
...,...,...,...,...,...,...,...,...,...,...,...
484325,581587.0,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09T12:50:00Z,2.10,12680.0,France,2011-12-09,12.60,2011
484326,581587.0,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09T12:50:00Z,4.15,12680.0,France,2011-12-09,16.60,2011
484327,581587.0,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09T12:50:00Z,4.15,12680.0,France,2011-12-09,16.60,2011
484328,581587.0,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09T12:50:00Z,4.95,12680.0,France,2011-12-09,14.85,2011
484329,581587.0,POST,POSTAGE,1,2011-12-09T12:50:00Z,18.00,12680.0,France,2011-12-09,18.00,2011

In [20]:
twentyeleven_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484330 entries, 0 to 484329
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      484329 non-null  float64
 1   StockCode    484330 non-null  object
 2   Description  484330 non-null  object
 3   Quantity     484330 non-null  int64
 4   InvoiceDate  484330 non-null  object
 5   Price        484330 non-null  float64
 6   Customer ID  367058 non-null  float64
 7   Country      484330 non-null  object
 8   date         484330 non-null  object
 9   revenue      484330 non-null  float64
 10  year         484330 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 40.6+ MB

In [21]:
twentyeleven_data['InvoiceDate'] = pd.to_datetime(twentyeleven_data['InvoiceDate'])
twentyeleven_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484330 entries, 0 to 484329
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      484329 non-null  float64
 1   StockCode    484330 non-null  object
 2   Description  484330 non-null  object
 3   Quantity     484330 non-null  int64
 4   InvoiceDate  484330 non-null  datetime64[ns, UTC]
 5   Price        484330 non-null  float64
 6   Customer ID  367058 non-null  float64
 7   Country      484330 non-null  object
 8   date         484330 non-null  object
 9   revenue      484330 non-null  float64
 10  year         484330 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(4)
memory usage: 40.6+ MB

In [28]:
twentyeleven_data['InvoiceDate'].dt.year
twentyeleven_data['InvoiceDate'].dt.weekday

0         1
1         1
2         1
3         1
4         1
         ..
484325    4
484326    4
484327    4
484328    4
484329    4
Name: InvoiceDate, Length: 484330, dtype: int32

In [31]:
twentyeleven_data['InvoiceDate'].dt.strftime('%m - %Y')

0         01 - 2011
1         01 - 2011
2         01 - 2011
3         01 - 2011
4         01 - 2011
            ...
484325    12 - 2011
484326    12 - 2011
484327    12 - 2011
484328    12 - 2011
484329    12 - 2011
Name: InvoiceDate, Length: 484330, dtype: object

In [33]:
twentyeleven_data['month_year'] = twentyeleven_data['InvoiceDate'].dt.strftime('%m - %Y')
twentyeleven_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,revenue,year,month_year
0,539993.0,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00+00:00,1.95,13313.0,United Kingdom,2011-01-04,19.50,2011,01 - 2011
1,539993.0,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00+00:00,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
2,539993.0,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00+00:00,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
3,539993.0,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00+00:00,2.10,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
4,539993.0,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00+00:00,1.25,13313.0,United Kingdom,2011-01-04,12.50,2011,01 - 2011
...,...,...,...,...,...,...,...,...,...,...,...,...
484325,581587.0,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00+00:00,2.10,12680.0,France,2011-12-09,12.60,2011,12 - 2011
484326,581587.0,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00+00:00,4.15,12680.0,France,2011-12-09,16.60,2011,12 - 2011
484327,581587.0,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00+00:00,4.15,12680.0,France,2011-12-09,16.60,2011,12 - 2011
484328,581587.0,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00+00:00,4.95,12680.0,France,2011-12-09,14.85,2011,12 - 2011
484329,581587.0,POST,POSTAGE,1,2011-12-09 12:50:00+00:00,18.00,12680.0,France,2011-12-09,18.00,2011,12 - 2011