In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt

In [3]:
twentyeleven_data = pd.read_csv('twentyeleven.csv')
twentyeleven_data.shape

(484330, 11)

In [4]:
twentyeleven_data = twentyeleven_data.drop_duplicates()
twentyeleven_data.shape

(484330, 11)

In [5]:
twentyeleven_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'date', 'revenue', 'year'],
      dtype='object')

In [6]:
twentyeleven_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,revenue,year
0,539993.0,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04T10:00:00Z,1.95,13313.0,United Kingdom,2011-01-04,19.50,2011
1,539993.0,21499,BLUE POLKADOT WRAP,25,2011-01-04T10:00:00Z,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011
2,539993.0,21498,RED RETROSPOT WRAP,25,2011-01-04T10:00:00Z,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011
3,539993.0,22379,RECYCLING BAG RETROSPOT,5,2011-01-04T10:00:00Z,2.10,13313.0,United Kingdom,2011-01-04,10.50,2011
4,539993.0,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04T10:00:00Z,1.25,13313.0,United Kingdom,2011-01-04,12.50,2011
...,...,...,...,...,...,...,...,...,...,...,...
484325,581587.0,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09T12:50:00Z,2.10,12680.0,France,2011-12-09,12.60,2011
484326,581587.0,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09T12:50:00Z,4.15,12680.0,France,2011-12-09,16.60,2011
484327,581587.0,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09T12:50:00Z,4.15,12680.0,France,2011-12-09,16.60,2011
484328,581587.0,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09T12:50:00Z,4.95,12680.0,France,2011-12-09,14.85,2011
484329,581587.0,POST,POSTAGE,1,2011-12-09T12:50:00Z,18.00,12680.0,France,2011-12-09,18.00,2011

In [7]:
twentyeleven_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484330 entries, 0 to 484329
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      484329 non-null  float64
 1   StockCode    484330 non-null  object
 2   Description  484330 non-null  object
 3   Quantity     484330 non-null  int64
 4   InvoiceDate  484330 non-null  object
 5   Price        484330 non-null  float64
 6   Customer ID  367058 non-null  float64
 7   Country      484330 non-null  object
 8   date         484330 non-null  object
 9   revenue      484330 non-null  float64
 10  year         484330 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 40.6+ MB

In [8]:
twentyeleven_data['InvoiceDate'] = pd.to_datetime(twentyeleven_data['InvoiceDate'])
twentyeleven_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484330 entries, 0 to 484329
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      484329 non-null  float64
 1   StockCode    484330 non-null  object
 2   Description  484330 non-null  object
 3   Quantity     484330 non-null  int64
 4   InvoiceDate  484330 non-null  datetime64[ns, UTC]
 5   Price        484330 non-null  float64
 6   Customer ID  367058 non-null  float64
 7   Country      484330 non-null  object
 8   date         484330 non-null  object
 9   revenue      484330 non-null  float64
 10  year         484330 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(4)
memory usage: 40.6+ MB

In [9]:
twentyeleven_data['InvoiceDate'].dt.year
twentyeleven_data['InvoiceDate'].dt.weekday

0         1
1         1
2         1
3         1
4         1
         ..
484325    4
484326    4
484327    4
484328    4
484329    4
Name: InvoiceDate, Length: 484330, dtype: int32

In [10]:
twentyeleven_data['InvoiceDate'].dt.strftime('%m - %Y')

0         01 - 2011
1         01 - 2011
2         01 - 2011
3         01 - 2011
4         01 - 2011
            ...
484325    12 - 2011
484326    12 - 2011
484327    12 - 2011
484328    12 - 2011
484329    12 - 2011
Name: InvoiceDate, Length: 484330, dtype: object

In [11]:
twentyeleven_data['month_year'] = twentyeleven_data['InvoiceDate'].dt.strftime('%m - %Y')
twentyeleven_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,revenue,year,month_year
0,539993.0,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00+00:00,1.95,13313.0,United Kingdom,2011-01-04,19.50,2011,01 - 2011
1,539993.0,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00+00:00,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
2,539993.0,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00+00:00,0.42,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
3,539993.0,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00+00:00,2.10,13313.0,United Kingdom,2011-01-04,10.50,2011,01 - 2011
4,539993.0,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00+00:00,1.25,13313.0,United Kingdom,2011-01-04,12.50,2011,01 - 2011
...,...,...,...,...,...,...,...,...,...,...,...,...
484325,581587.0,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00+00:00,2.10,12680.0,France,2011-12-09,12.60,2011,12 - 2011
484326,581587.0,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00+00:00,4.15,12680.0,France,2011-12-09,16.60,2011,12 - 2011
484327,581587.0,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00+00:00,4.15,12680.0,France,2011-12-09,16.60,2011,12 - 2011
484328,581587.0,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00+00:00,4.95,12680.0,France,2011-12-09,14.85,2011,12 - 2011
484329,581587.0,POST,POSTAGE,1,2011-12-09 12:50:00+00:00,18.00,12680.0,France,2011-12-09,18.00,2011,12 - 2011

In [12]:
twentyeleven_data['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00+0000', tz='UTC')

In [13]:
twentyeleven_data['InvoiceDate'].min()

Timestamp('2011-01-04 10:00:00+0000', tz='UTC')

In [14]:
twentyeleven_data['InvoiceDate'].max() -twentyeleven_data['InvoiceDate'].min()

Timedelta('339 days 02:50:00')

In [15]:
### recency

### max date of dataset

max_date = twentyeleven_data.InvoiceDate.max()

In [16]:
twentyeleven_data.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'date', 'revenue', 'year',
       'month_year'],
      dtype='object')

In [17]:
last_purchase_date = twentyeleven_data.groupby('Customer ID',as_index=False)['InvoiceDate'].max()
last_purchase_date

      Customer ID               InvoiceDate
0         12347.0 2011-12-07 15:52:00+00:00
1         12348.0 2011-09-25 13:13:00+00:00
2         12349.0 2011-11-21 09:51:00+00:00
3         12350.0 2011-02-02 16:01:00+00:00
4         12352.0 2011-11-03 14:37:00+00:00
...           ...                       ...
4214      18280.0 2011-03-07 09:52:00+00:00
4215      18281.0 2011-06-12 10:53:00+00:00
4216      18282.0 2011-12-02 11:43:00+00:00
4217      18283.0 2011-12-06 12:02:00+00:00
4218      18287.0 2011-10-28 09:29:00+00:00

[4219 rows x 2 columns]

In [19]:
last_purchase_date['Recency'] = max_date - last_purchase_date['InvoiceDate']
last_purchase_date['Recency'].describe()

count                          4219
mean     84 days 07:28:44.214268785
std      90 days 00:32:32.633204746
min                 0 days 00:00:00
25%                16 days 23:08:30
50%                46 days 22:22:00
75%               127 days 21:30:30
max               339 days 01:08:00
Name: Recency, dtype: object