In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt

In [2]:
twentyeleven= pd.read_csv('twentyeleven.csv')

In [4]:
twentyeleven= twentyeleven.drop_duplicates()
twentyeleven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484330 entries, 0 to 484329
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      484329 non-null  float64
 1   StockCode    484330 non-null  object
 2   Description  484330 non-null  object
 3   Quantity     484330 non-null  int64
 4   InvoiceDate  484330 non-null  object
 5   Price        484330 non-null  float64
 6   Customer ID  367058 non-null  float64
 7   Country      484330 non-null  object
 8   date         484330 non-null  object
 9   revenue      484330 non-null  float64
 10  year         484330 non-null  int64
dtypes: float64(4), int64(2), object(5)
memory usage: 40.6+ MB

In [7]:
twentyeleven['InvoiceDate']=pd.to_datetime(twentyeleven['InvoiceDate'])
twentyeleven['week']= twentyeleven['InvoiceDate'].dt.weekday

twentyeleven['dayofweek']= twentyeleven['InvoiceDate'].dt.dayofweek

twentyeleven['month']=twentyeleven['InvoiceDate'].dt.month

twentyeleven['year']=twentyeleven['InvoiceDate'].dt.year

In [8]:
twentyeleven['month_year']= twentyeleven['InvoiceDate'].dt.strftime('%B- %Y')

In [11]:
#	Get the last purchase date per customer
twentyeleven['date']= twentyeleven['InvoiceDate'].dt.strftime('%Y-%m-%d')

twentyeleven['date']=pd.to_datetime(twentyeleven['date'])

max_date= twentyeleven['date'].max()

In [12]:
customer_last= twentyeleven.groupby('Customer ID').agg(last_purchase_date= ('date','max')).reset_index()

customer_last['recency']= max_date-customer_last['last_purchase_date']

In [15]:
customer_last

      Customer ID last_purchase_date  recency
0         12347.0         2011-12-07     <NA>
1         12348.0         2011-09-25     <NA>
2         12349.0         2011-11-21     <NA>
3         12350.0         2011-02-02     <NA>
4         12352.0         2011-11-03     <NA>
...           ...                ...      ...
4214      18280.0         2011-03-07     <NA>
4215      18281.0         2011-06-12     <NA>
4216      18282.0         2011-12-02     <NA>
4217      18283.0         2011-12-06     <NA>
4218      18287.0         2011-10-28     <NA>

[4219 rows x 3 columns]

In [13]:
###changing recency to integer

customer_last['recency']=customer_last['recency'].astype('string').str.replace('days 00:00:00.000000000','')

customer_last['recency']= pd.to_numeric(customer_last['recency'],errors='coerce')